@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --clr-neon: #FF3D00;
    --clr-bg: hsl(323 21% 16%);
}

body {
    color: white;
    height: 87vh;
    position: relative;
    padding-top: 80px;
    font-family: 'Poppins', sans-serif;
    background: url(../img/unnamed.jpg);
    background-size: contain;
}

h1,
h2,
h3,
p {
    margin: 0;
}

*{
    transition: all ease 400ms;
}




.container {
    vertical-align: middle;
    background-color: #000000;
    width: 1200px;
    height: 80%;
    margin: 0 auto;
    display: flex;
    /* box-shadow: 2px 2px 50px rgba(255, 255, 255, 0.178); */
}

/* sidebar menu */
.menu {
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    width: 5%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.3em;
}

.menu a {
    display: block;
    color: white;
}

.menu a:hover, .menu a:active, .menu a:focus, .over-media i:hover {
    color: var(--clr-neon);
    transition: all ease 500ms;
    text-shadow: 1px 1px 20px white;
    transform: scale(150%);
}

/* screen also main  */
.screen {
    width: 65%;
    overflow: scroll;
    -ms-text-overflow: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    /* background: url(../img/ellipse-bg.png) no-repeat;
    background-position: top center; */
}

.screen::-webkit-scrollbar {
    display: none;
}

.menu-page {
    height: 100%;
    scroll-snap-align: start;
}

.inner-men {
    width: 80%;
    height: 80%;
    padding-top: 20px;

}

/* Backgrond image container */
.bigger-img {
    background: url(../img/earlBg.png) no-repeat;
    /* filter: grayscale(100%); */
    background-size: cover;
    width: 30%;
    transform: scaleY(110%);
}

/* Black overlay on the background image */
.overlay {
    height: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.438);
    position: relative;
    display: flex;
    justify-content: center;
}

.inner-over {
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-bottom: 60px;
}

/* content on the main container  */
.inner-men {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

/* media on the bg */
.over-media {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    color: white;
}

/* media icon on the background */
.over-media i {
    color: white;
    font-size: 1.3em;
    margin-top: 20px;
}

.inner-over h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5em;
    letter-spacing: 0.2em;
    color: var(--clr-neon);
    font-weight: 900;
    text-align: center;
    border-radius: 4px;
    outline: 1px solid --clr-neon;
    background-color: rgba(0, 0, 0, 0.39);
    margin-bottom: 10px;
}



.card {
    border: 2px white solid;
    border-radius: 5px;
}

.neon-btn {
    font-size: 2em;
    color: var(--clr-neon);
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    border: var(--clr-neon) 4px solid;
    padding: 0.5em 1em;
    border-radius: 0.25em;

    text-shadow: 0 0 0.25em hsl(0 0% 100% / 0.5);
}

/* home page content starts here */
.home-menu-con{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    border-radius: 500px;
    width: 60px;
    height: 60px;
    background-color: #ff3c0086;
    position: relative;

}

.home-menu-inner{
    background-color: #FF3D00;
    border-radius: 500px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

.home-content h1{
    font-size: 4.0em;
    font-weight: 800;
    margin-bottom: 10px;
}

span{
    color: #FF3D00;
}

.home-content p{
    width: 90%;
    height: 150px;
    font-size: 1.2em;
    line-height: 200%;
    font-weight: 500;
}

.home-link{
    display: flex;
    width: 60%;
    border-radius: 30px;
    margin-top: 40px;
    position: relative;
    align-items: center;
}

.div-link{    
    outline: 2px solid #FF3D00;
    padding: 15px;
    border-radius: 30px;
    padding-right: 200px;
    width: 70%;
    text-decoration: none;
    color: white;
    font-weight: 600;

}

.flexy{
    display: flex;
    gap: 10px;
}

.div-link-alt{
    text-align: end;
}
.icon-div{
    background-color: #FF3D00;
    padding: 15px 20px 15px 20px;
    border-radius: 500px;
    margin-left: -50px;
    box-shadow: 1px 1px 30px #FF3D00
    ;
}

.icon-div-alt{
    margin-left: -100%;
}





/* About Me page Starts here */
.flex{
    display: flex;
    align-items: center;
}

.over-under-con{
    position: relative;
    width: 80%;
    padding: 0;
    text-align: center;
    height: 120px;
}

.under-h1{
    width: 100%;
    text-align: center;
    top: 0;
    position: absolute;
    font-size: 5.0em;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.11);
}

.over-h1{
    top: 10px;
    position: absolute;
    font-size: 4.0em;
    font-weight: 800;    
    width: 100%;
    text-align: center;
    z-index: 22;
}





/* work page starts here */
.work-container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.work-card-inner{
    display: none;
    top: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.849);
    outline: var(--clr-neon) 1px solid;
    padding: 10px;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.work-card-inner a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

.work-card-inner a:hover{
    background-color: #FF3D00;
    color: white;
}

.work-card{
    outline: var(--clr-neon) 1px solid;
    padding: 10px;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.upper-lower-con{
    position: relative;
    width: 100%;
    height: 10px;
    background-color: white;
}

.upper-div{
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #FF3D00;
    z-index: 122;
}

.lower-div{
    position: absolute;
}

.mb-10{
    margin-bottom: 5px;
}

.center{
    text-align: center;
}


/* contact me page */
input, textarea{
    color: #FF3D00;
    padding: 10px;
    display: block;
    width: 80%;
    background-color: transparent;
    border: none;
    border-bottom: #363636 2px solid;
    margin-bottom: 20px;
    font-size: 1.2em;
    outline: none;
    background-color: #ffffff04;
}

textarea{
    height: 70px;
    font: 'Poppins', sans-serif;
}

input:hover, textarea:hover, textarea:focus, textarea:active{
    border-color: #FF3D00;
}

button{
    display: inline-block;
    padding: 15px 30px;
    background-color: #FF3D00;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    font: inherit;
}

button:hover{
    transition: all ease-in 500ms;
    background-color: transparent;
    color: #FF3D00;
    outline: #FF3D00 2px solid;
}

input::placeholder, textarea::placeholder{
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
}

.cent{
    margin-top: -20px;
    margin-bottom: 10px;
}