@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%);
}

body {
    color: white;
    height: 87vh;
    position: relative;
    padding-top: 80px;
    font-family: 'Poppins', sans-serif;
    background: url(../img/unnamed.jpg);
    background-size: contain;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.container {
    vertical-align: middle;
    background-color: #1B1D1E;
    width: 1200px;
    height: 80%;
    margin: 0 auto;
    display: flex;
}

/* sidebar menu */
.menu {
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    width: 5%;
    background-color: #1B1D1E;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.3em;
}

.menu a {
    display: block;
    color: white;
}

.menu a:hover, .menu a:active, .menu a:focus, .over-media i:hover {
    color: hsl(317 100% 54%);
    transition: all ease 500ms;
    text-shadow: 1px 1px 20px white;
    transform: scale(150%);
}

/* screen also main  */
.screen {
    width: 65%;
    overflow: scroll;
    -ms-text-overflow: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.screen::-webkit-scrollbar {
    display: none;
}

.menu-page {
    height: 100%;
    scroll-snap-align: start;
}

.inner-men {
    width: 80%;
    height: 80%;
    padding-top: 20px;

}

/* Backgrond image container */
.bigger-img {
    background: url(../img/earlBg.png) no-repeat;
    /* filter: grayscale(100%); */
    background-size: cover;
    width: 30%;
    transform: scaleY(110%);
}

/* Black overlay on the background image */
.overlay {
    height: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.438);
    position: relative;
    display: flex;
    justify-content: center;
}

.inner-over {
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-bottom: 60px;
}

/* content on the main container  */
.inner-men {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

/* media on the bg */
.over-media {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    color: white;
}

/* media icon on the background */
.over-media i {
    color: white;
    font-size: 1.3em;
    margin-top: 20px;
}

.inner-over h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5em;
    letter-spacing: 0.2em;
    color: hsl(317 100% 54%);
    font-weight: 900;
    text-align: center;
    border-radius: 4px;
    outline: 1px solid hsl(317 100% 54%);
    background-color: rgba(0, 0, 0, 0.39);
    margin-bottom: 10px;
}

.work-con {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.card {
    border: 2px white solid;
    border-radius: 5px;
}

.neon-btn {
    font-size: 2em;
    color: var(--clr-neon);
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    border: var(--clr-neon) 4px solid;
    padding: 0.5em 1em;
    border-radius: 0.25em;

    text-shadow: 0 0 0.25em hsl(0 0% 100% / 0.5);
}

/* home page content starts here */
span {
    display: block;
    margin-bottom: 5px;
}

.hey {
    font-weight: 700;
    font-size: 1.5em;
}

.hidden {
    font-size: 2em;
    font-weight: 300;
    color: #1B1D1E;
    background-color: white ;
    width: fit-content;
}

.earl {
    font-size: 3.5em;
    font-weight: 200;
}


.btn{
    display: inline-block;
    background-color: white;
    text-decoration: none;
    margin-top: 100px;
    margin-right: 50px;
    padding: 10px 15px ;
    cursor: pointer;
}

.btn:hover{
    background-color: var(--clr-neon);
    transition: ease-in 500ms;
}